body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tagline {
  font-style: italic;
}

.direction, h3 {
  text-align: center;
}

/*  ORDER FORM  */
.base {
  display: inline-block;
  width: 150px;
}

#pizza-base {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#pizza-base {
  justify-content: space-between;
}

/*  TOPPINGS  */
#addToppingsSection {
  text-align: center;
}

/* #veggie-options, #protein-options {
  display: none;
} */

/* BUTTONS */
#begin-order-button {
  display: block;
  margin: 30px auto;
}

.veg, .protein {
  margin: 30px auto;
}

#calculate-order-total {
  margin: 50px auto;
}

/*  ORDER CONFIRMATION  */
#calculate-order-div {
  /* display: none; */
  text-align: center;
  padding: 30px;
}

#order-summary {
  display: none;
  padding: 30px;
  text-align: center;
}