body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tagline {
  font-style: italic;
}

#pizza-base {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.base {
  display: inline-block;
  width: 100px;
}